.nunito-regular {
	font-family: 'Nunito', sans-serif;
}

.nunito-semibold {
	@extend .nunito-regular;
	font-weight: 600;
}

.nunito-extrabold {
	@extend .nunito-regular;
	font-weight: 800;
}

.poppins-regular {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
}

.poppins-medium {
	@extend .poppins-regular;
	font-weight: 500;
}